problem reported at
https://github.com/pipermerriam/eth-testrpc/issues/117

In [1]:
import pandas; print("pandas version", pandas.__version__)
import sqlite3; print("sqlite3 version", sqlite3.version)

pandas version 0.23.4
sqlite3 version 2.6.0

In [2]:
# experiment was run with testrpc version 1.3.5
# then the essential information from the blocks extracted into "temp.db" with
# https://github.com/drandreaskrueger/chainhammer/blob/master/chainreader/blocksDB_create.py
# now read that back in:

DBFILE = "temp.db"
conn = sqlite3.connect(DBFILE)

SQL="SELECT * FROM blocks ORDER BY blocknumber"
df = pandas.read_sql(SQL, conn)
conn.close()

df.head(5)

   blocknumber   timestamp  size  gasUsed  gasLimit  txcount
0            0  1410973349   908   127173   4000000        1
1            1  1410973360   608    26627   4000000        1
2            2  1410973367   608    41691   4000000        1
3            3  1410973374   608    26691   4000000        1
4            4  1410973385   608    26691   4000000        1

In [3]:
df.tail(5)

      blocknumber   timestamp  size  gasUsed  gasLimit  txcount
996           996  1410981277   612    26755   4000000        1
997           997  1410981284   612    26755   4000000        1
998           998  1410981291   612    26755   4000000        1
999           999  1410981298   612    26755   4000000        1
1000         1000  1410981305   612    26755   4000000        1

In [4]:
blocks_timestamps_difference = df["timestamp"][1000] - df["timestamp"][1] 
print (blocks_timestamps_difference)

7945

In [5]:
duration=38.8 # I measured 38.8 seconds, for the 1000 transactions in 1000 blocks
timestamp_units_per_second = blocks_timestamps_difference / duration

print (timestamp_units_per_second)

204.7680412371134

why?

why not 1, 1000, or 1000000 ?